body{
  background-color: #145b6e;
}
p {
  font-weight: bold;
  color: #f7f8cb;
  
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #eeef;
  background-clip: padding-box;
  border: 1px solid #cde4da;
  border-radius: .25rem;
  margin: 10px 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

button {
  color: rgb(114, 43, 43);
  background-color: rgb(117, 156, 143);
  width:fit-content;
  height:fit-content;
  padding:10px;
  margin: 3px 3px 3px 3px;
  font-weight:bolder;
  font-size:1.3rem;
  border: 2px solid rgb(67, 18, 87);
  border-radius: 20px 20px;

}
button:hover {
  color: rgb(117, 156, 143);
  background-color: rgb(114, 43, 43);
  transform: translateY(8px);
}